@import url('https://fonts.googleapis.com/css?family=Work+Sans:400&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma');

html {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: black;
    line-height: 1.5;
}

.mainlogo {
    font-family: 'Baloo Tamma', cursive;
    font-size: 60px;
    text-align: center;
}

.maintext {
    position: absolute;
    font-size: 20px;
    text-align: center;
}

.fullscreen-bg {
    background-image: url("../img/background.jpg");
    opacity: 0.4;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

h1 {
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-size: 150%;
    font-weight: bold;
}

.content {
    position: static;
    width: 94%;
    max-width: 800px;
    text-align: justify;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button {
    width: 200px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    color: black;
}

.button:hover {
    background: rgba(0, 0, 0, 0.4);
    filter: invert(100%);
    transition-duration: 0.1s;
}

.link:link {
    text-decoration: none;
}

.link:visited {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link:active {
    text-decoration: underline;
}

.buttonlink:link {
    text-decoration: none;
}

.buttonlink:visited {
    text-decoration: none;
}

.buttonlink:hover {
    text-decoration: none;
}

.buttonlink:active {
    text-decoration: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-right: -50%;
}

.vertcenter {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.horcenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    margin-right: -50%;
}

.header {
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.testborder {
    border: 1px dotted blue;
}

.testborder2 {
    border: 1px dotted red;
}