@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: black;
    background-color: lightgoldenrodyellow;
    line-height: 1.5;
}

@media(max-width:900px) {
    body{
        font-size: 150%;
    }
}

h1 {
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-size: 150%;
    font-weight: bold;
}

.picture {
    float: left;
    margin: 10px 20px 0px 20px;
}

.content {
    text-align: justify;
    margin: 20px;
}